
@font-face {
  font-family: "futura-bold";
  src: url('../fonts/futura_bold_font-webfont.woff2') format('woff2'),
  url('../fonts/futura_bold_font-webfont.woff') format('woff');
}
@font-face {
  font-family: "futura-md";
  src: url('../fonts/futura_medium_bt-webfont.woff2') format('woff2'),
  url('../fonts/futura_medium_bt-webfont.woff') format('woff');
}
@font-face {
  font-family: "futura-lt";
  src: url('../fonts/futura_light_font-webfont.woff2') format('woff2'),
  url('../fonts/futura_light_font-webfont.woff') format('woff');
}
@font-face {
  font-family: "futura-bold-italic";
  src: url('../fonts/futura_bold_italic_font-webfont.woff2') format('woff2'),
  url('../fonts/futura_bold_italic_font-webfont.woff') format('woff');
}
@font-face {
  font-family: "futura-medium-italic";
  src: url('../fonts/futura_medium_italic_font-webfont.woff2') format('woff2'),
  url('../fonts/futura_medium_italic_font-webfont.woff') format('woff');
}
body{
    font-family: "futura-bold" !important;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
  --pink: #ff008e;
  --sky-blue: #0d8abc;
  --blue: #085879;
  --dark-blue: #043242;
  --white: #daeaf6;
  --black: #2b2b2b;
  --hover-pink: #ff37a3;
}
/* width */
::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--white);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: var(--pink);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
      background: var(--hover-pink);
  }
